<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="general_block">
        <h1 class="date"><%= Day %></h1>
        <div class="form_block">
            <form action="/json/" method="post" id="form" >
                <% for(var i in items){ %>
                    <% let item = items[i]; %>
                    <div class="custom-checkbox"><input type="checkbox" id="checkbox1" name="<%= item %>" class="work_to_do"><span><%=item%></span></input><br></div>
                <%};%>            
            </form>
            <form action="/" method="post" class="task_list">
                <input name="input" type="text" placeholder="New-item" class="textbox">
                <button type="submit" class="btn"><ion-icon name="add-circle"></ion-icon></button>
            </form>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/index.js"></script>
</body>
</html>