.login_text{
    margin: auto;
    width: 320px;
    height: 42px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0.15px solid rgba(227,227,230, 0.9);
    border-radius: 40px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 29px;
    font-style: normal;

}

#form{
    margin-top: 9px;
}

button{
    height: 30px;
    margin-top: 9px;
    margin-bottom: 9px;
    width: 100px;
    border-radius: 30px;
    background-color: #4a5aff;
    border: transparent;
    color: whitesmoke;
}
button:hover{
    opacity: 60%;
}

.login_foot{
margin-top: 20px;    
}